<header class="col-md-12">
    <div class="row">
      <span class="col-md-8" style="text-align: center;">
        <!-- <a href="/index.html"><img src="/images/project-logo.jpg" width="150px" align="left"/></a> -->
        <h1 align="center"><%= title %></h1>
      </span>
      <span class="col-md-4">
        <form method="get" id="ddgSearch" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="https://robogeek.github.io/runtime-data-validation-typescript/"/>
            <input type="hidden" name="k7" value="#ffffff"/>
            <input type="hidden" name="k8" value="#222222"/>
            <input type="hidden" name="k9" value="#00278e"/>
            <input type="hidden" name="kx" value="#20692b"/>
            <input type="hidden" name="kj" value="#fafafa"/>
            <input type="hidden" name="kt" value="p"/>
            <input type="text" name="q" placeholder="Search runtime-data-validation" aria-label="Search runtime-data-validation on DuckDuckGo"/>
            <button type="submit">Search</button>
        </form>
      </span>
    </div>
  
  </header>
  